<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-embedded-crosswalk-webview"
        version="2.4.0">

    <name>Crosswalk WebView Engine</name>
    <description>Changes the default WebView to CrossWalk</description>
    <license>Apache 2.0</license>
    <keywords>cordova,chromium,crosswalk,webview</keywords>
    <repo>https://github.com/crosswalk-project/cordova-plugin-crosswalk-webview</repo>
    <issue>https://crosswalk-project.org/jira</issue>

    <engines>
        <engine name="cordova-android" version=">=6"/>
        <engine name="cordova-plugman" version=">=5.2.0"/><!-- needed for gradleReference support -->
    </engines>

    <!-- android -->
    <platform name="android">
        <preference name="XWALK_VERSION" default="23+"/>
        <preference name="XWALK_COMMANDLINE" default="--disable-pull-to-refresh-effect"/>
        <config-file target="res/xml/config.xml" parent="/*">
            <preference name="webView" value="org.crosswalk.engine.XWalkWebViewEngine"/>
            <preference name="xwalkVersion" value="$XWALK_VERSION"/>
            <preference name="xwalkCommandLine" value="$XWALK_COMMANDLINE"/>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
        </config-file>

        <source-file src="platforms/android/src/org/crosswalk/engine/XWalkWebViewEngine.java" target-dir="src/org/crosswalk/engine"/>
        <source-file src="platforms/android/src/org/crosswalk/engine/XWalkFileChooser.java" target-dir="src/org/crosswalk/engine"/>
        <source-file src="platforms/android/src/org/crosswalk/engine/XWalkExposedJsApi.java" target-dir="src/org/crosswalk/engine"/>
        <source-file src="platforms/android/src/org/crosswalk/engine/XWalkCordovaResourceClient.java" target-dir="src/org/crosswalk/engine"/>
        <source-file src="platforms/android/src/org/crosswalk/engine/XWalkCordovaUiClient.java" target-dir="src/org/crosswalk/engine"/>
        <source-file src="platforms/android/src/org/crosswalk/engine/XWalkCordovaView.java" target-dir="src/org/crosswalk/engine"/>
        <source-file src="platforms/android/src/org/crosswalk/engine/XWalkCordovaCookieManager.java" target-dir="src/org/crosswalk/engine"/>
        <source-file src="platforms/android/src/org/crosswalk/engine/XWalkCordovaClientCertRequest.java" target-dir="src/org/crosswalk/engine"/>
        <source-file src="platforms/android/src/org/crosswalk/engine/XWalkCordovaHttpAuthHandler.java" target-dir="src/org/crosswalk/engine"/>

        <framework src="platforms/android/xwalk.gradle" custom="true" type="gradleReference"/>
    </platform>
</plugin>
